#buttonCreateUrl {
  font-size: 20px;
  height: 58px;
  width: 100%;
}

h2 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: normal;
}

.table-wrapper {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.table {
  margin-bottom: 0;
}
th,
td {
  white-space: nowrap;
}

.div-container-url-short {
  display: flex;
}
.div-text-url-short {
  align-items: center;
  display: flex;
  margin-left: 0.6rem;
}
.btn-url-short-copy {
  border: 1px solid lightgray;
  display: flex;
  padding: 0.25rem;
}
.btn-url-short-copy:hover {
  border-color: darkgray;
}
.bi-clipboard {
  cursor: pointer;
}

.th-url-action,
.td-url-action {
  width: 161px;
}
