:root {
  --red: #dc3545;
}

#inputUrlShort.invalid {
  border-color: var(--red);
}
#divUrlShortFeedback {
  color: var(--red);
  display: none;
  font-size: small;
}
#divUrlShortFeedback[data-visible='true'] {
  display: block;
}

#buttonCreateUrl {
  font-size: 20px;
  height: 58px;
  width: 100%;
}

h2 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: normal;
}

/* General table styles */
.table-wrapper {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.table {
  margin-bottom: 0;
}
th,
td {
  white-space: nowrap;
}

/* Short URL table cell children */
.div-container-url-short {
  display: flex;
}
.div-text-url-short {
  align-items: center;
  display: flex;
  margin-left: 0.6rem;
}
.btn-url-short-copy {
  background-image: url(./icons/clipboard.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid lightgray;
  cursor: pointer;
  display: flex;
  height: 24px;
  padding: 0.25rem;
  width: 24px;
}
.btn-url-short-copy:hover,
.btn-url-short-copy:focus {
  border-color: darkgray;
}
.btn-url-short-copy.copied {
  background-color: rgba(40, 167, 69, 0.5);
  background-image: url(./icons/clipboard-check.svg);
  cursor: default;
  transition: background-color, background-image 0.1 ease-in;
}

.th-url-action,
.td-url-action {
  width: 161px;
}
