<header class="mb-4 mb-sm-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">url-y</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              External Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a
                  class="dropdown-item"
                  href="https://github.com/nluka/url-y/blob/main/README.md"
                  target="_blank"
                  >API Docs</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://github.com/nluka/url-y"
                  target="_blank"
                  >Source Code</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://github.com/nluka"
                  target="_blank"
                  >My GitHub</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://www.linkedin.com/in/nicholas-lukasevich/"
                  target="_blank"
                  >My LinkedIn</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
